.info-box{
  height: 100%;
  overflow: auto;
  background: #f9f9f9;
  .info-item{
    margin-top: 0.2rem;
    padding: 0.2rem 0.4rem;
    background: #fff;
    .item-top{
      padding-bottom: 0.4rem;
      font-size: 0.4rem;
    }
    .normal-text{
      width: 80%;
      height: 0.5rem;
      font-size: 0.3rem;
      outline: none;
      border: 1px solid #e8e8e8;
      border-radius: 0.1rem;
      padding: 0.1rem;
    }
  }
  .adm-mask-content{
    height: 100%;
  }
  .mask-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    // background-color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
  }
}